<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.kg.fieldluxe.product.repository.IProductMapper">

	<resultMap id="ListData"
		type="com.kg.fieldluxe.product.model.ListData">
		<id property="productId" column="product_id" />
		<result property="productCategory" column="product_category" />
		<result property="productName" column="product_name" />
		<result property="productBrand" column="product_brand" />
		<result property="productRegDate" column="product_reg_date" />
		<result property="productPostDate" column="product_post_date" />
		<result property="sellerEmail" column="seller_email" />
		<result property="immePrice" column="imme_price" />
		<result property="auctionEndDate" column="auction_end_date" />
		<result property="productPostStatus"
			column="product_post_status" />
		<result property="productThumbnail" column="product_thumbnail" />
		<result property="deliveryStatus" column="delivery_status" />
	</resultMap>

	<resultMap id="DealData"
		type="com.kg.fieldluxe.product.model.DealData">
		<id property="productId" column="product_id" />
		<result property="dealMethod" column="deal_method" />
		<result property="minAuctionPrice" column="min_auction_price" />
		<result property="nowAuctionPrice" column="now_auction_price" />
		<result property="auctionDeposit" column="auction_deposit" />
		<result property="auctionStartDate" column="auction_start_date" />
		<result property="auctionStatus" column="auction_status" />
	</resultMap>

	<resultMap id="DetailData"
		type="com.kg.fieldluxe.product.model.DetailData">
		<id property="productId" column="product_id" />
		<result property="productColor" column="product_color" />
		<result property="productSize" column="product_size" />
		<result property="productModelNumber"
			column="product_model_number" />
		<result property="releaseDate" column="release_date" />
		<result property="releasePrice" column="release_price" />
		<result property="images" column="images" />
		<result property="sellerWord" column="seller_word" />
		<result property="rejectReason" column="reject_reason" />
	</resultMap>

	<!-- 전체 목록, 검수목록 -->
	<sql id="postStatus">
		<choose>
			<when test="check">
				WHERE product_post_status = '1'
			</when>
			<otherwise>
				WHERE product_post_status = '0'
			</otherwise>
		</choose>
	</sql>
	<select id="selectAll" resultMap="ListData">
		SELECT *
		FROM product_list_data
		<include refid="postStatus" />
	</select>

	<!-- 상품 상세 -->
	<select id="selectOneList" resultMap="ListData">
		SELECT *
		FROM product_list_data
		WHERE product_id = #{ id }
	</select>
	<select id="selectOneDeal" resultMap="DealData">
		SELECT *
		FROM product_deal_data
		WHERE product_id = #{ id }
	</select>
	<select id="selectOneDetail" resultMap="DetailData">
		SELECT *
		FROM product_detail_data
		WHERE product_id = #{ id }
	</select>

	<!-- 물품 등록 (검수 전) -->
	<sql id="insertTable">
		<if test="table == 'list'">
			product_list_data
			(product_id, product_category, product_name,
			product_brand, product_reg_date, seller_email,
			imme_price, product_post_status, product_thumbnail)
			VALUES
			(product_seq.NEXTVAL, #{productCategory},
			#{productName}, #{productBrand},
			SYSDATE, #{sellerEmail}, #{immePrice},
			'0', #{productThumbnail})
		</if>
		<if test="table == 'deal'">
			product_deal_data
			(product_id, deal_method, min_auction_price, auction_deposit)
			VALUES
			(product_seq.CURRVAL, #{dealMethod},
			#{minAuctionPrice}, #{auctionDeposit})
		</if>
		<if test="table == 'detail'">
			product_detail_data
			(product_id, product_color, product_size, product_model_number,
			release_date, release_price, images, seller_word)
			VALUES
			(product_seq.CURRVAL, #{productColor},
			#{productSize}, #{productModelNumber}, #{releaseDate},
			#{releasePrice}, #{images}, #{sellerWord})
		</if>
	</sql>
	<insert id="insert">
		INSERT INTO
		<include refid="insertTable" />
	</insert>

	<!-- 물품 수정 -->
	<sql id="updateTable">
		<if test="table == 'list'">
			product_list_data SET
			product_category = #{productCategory},
			product_name = #{productName},
			product_brand = #{productBrand},
			product_post_date = #{productPostDate},
			auction_end_date = #{auctionEndDate},
			imme_price = #{immePrice},
			product_post_status = #{productPostStatus},
			product_thumbnail = #{productThumbnail},
			delivery_status = #{deliveryStatus}
			WHERE product_id = #{productId}
		</if>
		<if test="table == 'deal'">
			product_deal_data SET
			deal_method = #{dealMethod},
			min_auction_price = #{minAuctionPrice},
			now_auction_price = #{nowAuctionPrice},
			auction_deposit = #{auctionDeposit},
			auction_start_date = #{auctionStartDate},
			auction_status = #{auctionStatus}
			WHERE product_id = #{productId}
		</if>
		<if test="table == 'detail'">
			product_detail_data SET
			product_color = #{productColor},
			product_size = #{productSize},
			product_model_number = #{productModelNumber},
			release_date = #{releaseDate},
			release_price = #{releasePrice},
			images = #{images},
			seller_word = #{sellerWord},
			reject_reason = #{rejectReason}
			WHERE product_id = #{productId}
		</if>
	</sql>
	<update id="update">
		UPDATE
		<include refid="updateTable" />
	</update>

	<!-- 물품 삭제 -->
	<delete id="deleteList">
		DELETE FROM product_list_data
		WHERE product_id = #{id}
	</delete>
	<delete id="deleteDeal">
		DELETE FROM product_deal_data
		WHERE product_id = #{id}
	</delete>
	<delete id="deleteDetail">
		DELETE FROM product_detail_data
		WHERE product_id = #{id}
	</delete>
	
	<!-- 전체 상품 목록 (검색 포함) -->
	<select id="getProductList" resultMap="ListData">
		SELECT *
		FROM (
			SELECT ROWNUM NUM, A.*
			FROM product_list_data A
			WHERE product_post_status=1
				AND product_name LIKE '%'||#{keyword}||'%'
			ORDER BY product_id DESC
			)
		WHERE NUM BETWEEN (#{page}-1)*8+1 AND ((#{page}-1)*8+1)+7
	</select>
	
	<!-- 전체 상품 갯수 (검색 포함) -->
	<select id="getProductCount" resultType="int">
		SELECT COUNT(*)
		FROM product_list_data
		WHERE product_post_status=1
			AND product_name LIKE '%'||#{keyword}||'%'
	</select>
	
	<!-- 상품 검수 목록 -->
	<select id="getInspectList" resultMap="ListData">
		SELECT *
		FROM product_list_data
		ORDER BY product_id DESC
	</select>
	
	<!-- 프로필 상품 목록 -->
	<select id="getProfileProductList" resultMap="ListData">
		SELECT *
		FROM product_list_data
		WHERE seller_email=#{email}
		ORDER BY product_id DESC
	</select>

</mapper>